body {
  font-family: "Krub", sans-serif;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #1b1b1b;
  color: #fff;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}

.nav-img {
    float: left;
    min-height: 90px;
    padding: 0 15px 5px;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #fff;
  background-color: #5e4485;
}

.navbar-inverse .navbar-nav li a {
  color: #d5d5d5;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.btn {
  font-size: 18px;
  color: #fff;
  padding: 12px 22px;
  background: #5e4485;
  border: 2px solid #fff;
}

.container {
  margin: 4% auto;
}

#icon {
  max-width: 450px;
  margin: 1% auto;
}

footer {
  width: 100%;
  background-color: #1b1b1b;
  padding: 5%;
  color: #fff;
}

.fa {
  padding: 15px;
  font-size: 30px;
  color: #fff;
}

.fa:hover {
  color: #d5d5d5;
  text-decoration: none;
}

@media (max-width: 600px) {
  .fa {
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
  #icon {
    max-width: 350px;
  }
  h4 {
    font-size: 1.3em;
  }
}
